figure {
    margin: 0;
    border: 1px solid black;
    position: relative;
}

figcaption {
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 1.2em;
    padding: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

img {
    display: block;
    width: 1005;
    height: auto;
}

:host {
    padding: 1em;
    display: block;
}

.actions {
    padding: 1em 0;
}

.liked {
    color: red;
}